<h1>Artists</h1>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= sort_link "name" %></th>
      <th><%= sort_link "created_at", "Added On" %></th>
    </tr>
  </thead>
  <tbody>
    <% @artists.each do |artist| %>
    <tr>
      <td>><h2><%= link_to artist.name, artist_path(artist.id) %></h2></td>
    </tr>
    <% end %>
  </tbody>
</table>
